.about {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.info {
  display: grid;
  flex-grow: 1;
  margin: auto;
  margin-bottom: 2em;
  max-width: $layout-container-width;
  padding: $layout-sm-offset;
  padding-top: $layout-sm-logo + $layout-sm-offset * 2;
  width: 100%;

  @media only screen and (min-width: $media-md) {
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    padding: $layout-md-offset;
    padding-top: $layout-md-logo + $layout-md-offset * 2;
  }

  @media only screen and (min-width: $media-lg) {
    padding: $layout-lg-offset;
    padding-top: $layout-lg-logo + $layout-lg-offset * 2;
  }
}

.card {
  align-self: start;
  border-bottom: 1px solid $color-white;
  color: $color-white;
  font-size: 1rem;
  font-weight: 300;
  fill: $color-white;
  overflow: hidden;
  text-align: justify;
  transition: border-color $hover-card;
  width: 100%;

  &:hover {
    border-color: $color-white;
    color: $color-white;
    fill: $color-white;
  }

  &--rolled-up {
    border-color: $color-background-light;
    color: $color-background-light;
    fill: $color-background-light;
  }

  &__header-button {
    align-items: center;
    background-color: $color-background;
    border-bottom: 1px solid $color-white;
    color: inherit;
    display: grid;
    grid-template-columns: $size-dropdown 1fr $size-dropdown;
    padding: 1em;
    position: relative;
    text-align: center;
    transition: color $hover-card, fill $hover-card;
    width: 100%;

    &:focus {
      color: $color-main;
      fill: $color-main;
    }
  }

  &__title {
    font-size: 1.1em;
    font-weight: 600;
    grid-column-start: 2;
    pointer-events: none;
  }

  &__dropdown {
    pointer-events: none;
    width: $size-dropdown;

    &--reversed {
      transform: rotate(180deg);
    }

    &--transition {
      transition: transform $rotate-dropdown;
    }
  }

  &__description {
    align-items: flex-start;
    color: $color-white;
    display: flex;
    flex-direction: column;
    padding: 1.5em 0;

    &--transition {
      transition: margin $rotate-dropdown;
    }
  }

  &__text {
    margin: 0;

    &--list {
      padding: 0;
      padding-left: 20px;
    }
  }

  &__emphasized {
    font-weight: 600;
  }

  &__button {
    align-self: center;
    background-color: transparent;
    border: 2px solid $color-white;
    border-radius: $radius-button;
    color: $color-white;
    display: inline-block;
    font-weight: 600;
    margin: 1rem 0;
    padding: 0.7em 1em;
    transition: background-color $hover-icon, border-color $hover-icon;

    &:active,
    &:focus {
      background-color: $color-main;
      border-color: transparent;
      outline: none;
    }
  }

  @media only screen and (min-width: $media-md) {
    & {
      &__button {
        align-self: flex-start;

        &:hover {
          background-color: $color-main;
          border-color: transparent;
        }
      }
    }
  }
}

.clients {
  @include flex-center;
  background-color: $color-main;
  flex-direction: column;
  flex-grow: 1;

  &__heading {
    align-self: flex-start;
    font-size: 1em;
    margin: 0;
    padding: $layout-sm-offset;
    text-transform: uppercase;
  }

  &__list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-items: center;
    list-style: none;
    margin: 0;
    max-width: $layout-container-width;
    padding: $layout-sm-offset;
    width: 100%;
  }

  &__item {
    @include flex-center;
    border-radius: 6px;
    max-height: 10em;
    padding: 1em;
    width: 100%;
  }

  &__link {
    display: flex;
    fill: $color-background;
    transition: fill $hover-icon;
    width: 100%;

    &:active,
    &:focus {
      fill: #fff;
      outline: none;
    }
  }

  &__svg {
    fill: inherit;
    pointer-events: none;
    width: 100%;
  }

  @media only screen and (min-width: $media-md) {
    &__list {
      grid-template-columns: repeat(4, 1fr);
      padding: $layout-md-offset;
    }

    &__link:hover {
      fill: #fff;
    }
  }

  @media only screen and (min-width: $media-lg) {
    &__list {
      grid-template-columns: repeat(6, 1fr);
      padding: $layout-lg-offset;
    }
  }
}
