.form {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "formHeading "
    "userName    "
    "userEmail   "
    "emailAlert  "
    "userPhone   "
    "phoneAlert  "
    "messageTitle"
    "userMessage "
    "messageAlert"
    "verification"
    "formSubmit  ";
  max-width: $layout-container-width;
  min-width: 320px;
  padding: $layout-sm-offset;
  padding-top: $layout-sm-logo + ($layout-sm-offset * 2);
  width: 100%;

  &__heading {
    color: $color-white;
    font-size: 1.2em;
    font-weight: 400;
    grid-area: formHeading;
    margin: 0.5em 0;
    text-align: center;
  }

  &__verification {
    border: none;
    grid-area: verification;
    margin: 0;
    padding: 0;
  }

  &__submit {
    @extend .card__button;
    align-self: end;
    grid-area: formSubmit;
    margin: 0;

    &:focus {
      background-color: $color-main;
      border-color: $color-main;
    }

  }

  @media only screen and (min-width: $media-md) {
    & {
      gap: 1em 3em;
      grid-template-areas:
        "formHeading  formHeading "
        "userName     userEmail   "
        ".            emailAlert  "
        "messageTitle userPhone   "
        ".            phoneAlert  "
        "userMessage  userMessage "
        "messageAlert messageAlert"
        "verification formSubmit  ";
      grid-template-columns: repeat(2, 1fr);
      padding: $layout-md-offset;
      padding-top: $layout-md-logo + ($layout-md-offset * 2);

      &__heading {
        grid-column: 1 / span 2;
      }
    }
  }
  
  @media only screen and (min-width: $media-lg) {
    & {
      gap: 1em 4em;
      padding: $layout-lg-offset;
      padding-top: $layout-lg-logo + ($layout-lg-offset * 2);
    }
  }
}
/////////////////////////////////////////////////////////////////////// INPUTS 
.input {
  color: $color-background-light;
  display: flex;
  flex-direction: column;
  margin: 0;

  &--name { grid-area: userName; }
  &--email { grid-area: userEmail; }
  &--phone { grid-area: userPhone; }
  &--title { grid-area: messageTitle; }
  &--message { grid-area: userMessage; }

  &__label {
    font-weight: 400;
    order: -1;
    transition: color $hover-icon;
  }

  &__data {
    background: transparent;
    border: 2px solid transparent;
    border-bottom-color: $color-background-light;
    color: $color-white;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    outline: none;
    padding: 0.7em;
    transition: background-color $hover-icon, border-color $hover-icon;
    width: 100%;

    &--phone {
      border: none;
    }

    &:invalid {
      border-color: $color-main;
      border-radius: 5px;
      box-shadow: none;
      color: $color-main;
    }

    &:focus:not(.input__data--phone) {
      border-color: $color-main;
      border-radius: $input-radius;

      & + .input__label {
        color: #fff;
      }
    }

    &::placeholder {
      color: $color-background-light;
      font-size: 0.8em;
      font-weight: 300;
      opacity: 1;
    }
  }

  &__phone {
    border: 2px solid transparent;
    border-bottom-color: $color-background-light;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 5fr;

    &:focus-within {
      border-color: $color-main;
      border-radius: $input-radius;
      
      & + .input__label {
        color: #fff;
      }
    }
  }

  @media only screen and (min-width: $media-md) {
    & {

      &--message {
        grid-column: 1 / span 2;
      }
    }
  }
}
//////////////////////////////////////////////////////////////// ERROR MESSAGE 
.error {
  align-self: start;
  background-color: $color-main;
  border-radius: 5px;
  color: $color-white;
  font-size: 0.9em;
  margin-top: 0.5em;
  overflow: hidden;

  &--email { grid-area: emailAlert; }
  &--phone { grid-area: phoneAlert; }
  &--message { grid-area: messageAlert; }

  &__text {
    @include flex-center;
    height: 30px;
    margin: 0;
    margin-top: -30px;
    padding: 0.5em;
    transition: margin $toggle-error;
    
    &--visible {
      margin-top: 0;
      transition: margin $toggle-error;
    }
  }
}
/////////////////////////////////////////////////////////////////// CHECKBOXES 
.checkbox { 
  align-items: center;
  cursor: pointer;
  display: flex;
  fill: $color-main;
  opacity: 1;
  position: relative;
  transition: color $toggle-checkbox, opacity $toggle-checkbox;

  &:hover &__field {
    border-color: $color-white;
  }

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &--disabled {
    color: $color-background-light;
    opacity: 0.5;
    pointer-events: none;
  }

  &__input {
    opacity: 0;
    position: absolute;

    &:focus + .checkbox__field {
      border-color: $color-white;
      outline: none;
    }
  }

  &__field {
    border: 2px solid $color-background-light;
    border-radius: 5px;
    height: $size-checkbox;
    margin-right: 1em;
    opacity: 1;
    transition: border-color $hover-icon;
    visibility: visible;
    width: $size-checkbox;

    &--hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__mark {
    @include position-absolute;
    opacity: 0;
    transform: scale(1);
    transition:
      opacity $toggle-checkbox,
      transform $toggle-checkbox ease-out
      visibility 0s $toggle-checkbox;
    visibility: hidden;
    width: $size-checkbox;
    
    &--visible {
      opacity: 1;
      transform: scale(1.5);
      transition:
        visibility 0s,
        opacity $toggle-checkbox,
        transform $toggle-checkbox ease-out;
      visibility: visible;
    }
  }
}
//////////////////////////////////////////////////////////////////// MODAL BOX 
.alert {
  align-items: center;
  background-color: $color-main;
  display: grid;
  font-size: 1em;
  grid-template-columns: 1fr 6fr 1fr;
  left: 0;
  padding: 20px;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition:
    transform $toggle-alert,
    visibility 0s $toggle-alert;
  visibility: hidden;
  width: 100%;
  z-index: 3;

  &--visible {
    transform: translateY(0);
    transition:
      transform $toggle-alert,
      visibility 0s;
    visibility: visible;
  }

  &__message {
    grid-column-start: 2;
    margin: 0;
    text-align: center;
  }

  &__button {
    fill: $color-white;
    justify-self: end;
    width: 30px;
  }

  &__button:hover {
    fill: $color-background;
  }

  &__svg {
    width: 100%;
  }
}