///////////////////////////////////////////////////////////////////////// TIME 
$time-page-overlay: 0.6s;
$time-mobile-menu: 0.5s;
$time-hover-menu: 0.3s;
$time-hover-icon: 0.2s;
$time-menu-translation: 0.5s;
$time-menu-delay: 0.5s;
$time-grid-item: 0.4s;
$time-grid-image: 2s;
$time-go-top-button: 1s;
$time-dropdown: 0.3s;
$time-checkbox: 0.4s;
$time-modal: 0.5s;
$time-gallery: 1s;
//$time-desaturation: 1s;
//$time-menu-item: 0.2s;
//$time-fade: 0.5s;

// TIMING
$timing-ease-in-strong: cubic-bezier(0,0.6,0.4,1);
$timing-ease-out-strong: cubic-bezier(0.6,0,1,0.4);

//////////////////////////////////////////////////////////////////// TRANSFORM 

$scale-grid-item: 1.2;

/////////////////////////////////////////////////////////////////////// COLORS 

$color-background: #555;
$color-background-lighter: lighten($color-background, 30%);
$color-background-darker: darken($color-background, 5%);

$color-main: rgb(200, 202, 83);
$color-main-lighter: lighten($color-main, 10%);
$color-main-darker: darken($color-main, 15%);
$color-main-dark: darken($color-main, 30%);

//$color-secondary: rgb(29, 211, 235);
//$navbar-background-color: rgba(0,0,0,0.4);

/////////////////////////////////////////////////////////////////////// LAYOUT 

$layout-container-width: 1200px;

$layout-sm-logo: 40px;
$layout-md-logo: 80px;
$layout-lg-logo: 100px;

$layout-sm-offset: 20px;
$layout-md-offset: 40px;
$layout-lg-offset: 60px;

$layout-mobile-grid-gap: 1rem;
$layout-tablet-grid-gap: 1rem;
$layout-desktop-grid-gap: 1rem;

$layout-mobile-grid-height: 300px;
$layout-tablet-grid-height: 30vw;
$layout-desktop-grid-height: 30vw;

$layout-mobile-grid-columns: 1;
$layout-tablet-grid-columns: 2;
$layout-desktop-grid-columns: 3;

$layout-footer-offset: 20px;

$size-go-top-button: 50px;
$size-checkbox: 30px;

//////////////////////////////////////////////////////////////////////// MEDIA 

$media-tablet: 768px;
$media-desktop: 1200px;



/* $arrows-offset: 30px;
$lightbox-icon-half-width: 2px;
$lightbox-icon-length: 40px; */

/* $form-input-height: 40px;
$form-corner-radius: 10px; */



/*
$layout-lightbox-desc-offset: 15px;
$layout-about-gap: 20px;
*/