/////////////////////////////////////////////////////////////////////// HEADER 
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $layout-sm-offset;
  z-index: 2;

  &--background {
    background-color: $color-background;
  }

  @media only screen and (min-width: $media-md) {

    & {
      padding: $layout-md-offset;
    }
  }

  @media only screen and (min-width: $media-lg) {

    & {
      padding: $layout-lg-offset;
    }
  }
}
//////////////////////////////////////////////////////////////////// MAIN MENU 
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover &__item {
    transform: translateY(0);
    transition: transform $translate-main-menu $ease-in-strong;
  }

  &__list {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    list-style: none;
  }

  &__item {
    transform: translateY(0);
    transition: transform $translate-main-menu $ease-in-strong;

    &--hidden {
      transform: translateY(-220px);
      transition: transform $translate-main-menu $ease-out-strong $delay-main-menu;
    }
  }

  &__link {
    @include flex-center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    transition: color $hover-main-menu;

    &--large {
      color: #fff;
      font-size: 4rem;
    }

    &--active {
      color: $color-main;
    }

    &:hover {
      color: $color-main;
    }
  }

  @media only screen and (min-width: $media-md) {

    & {

      &--align-top {
        align-items: flex-start;
      }

      &__list {
        display: flex;
      }

      &__item {
        
        &:not(:last-child) {
          margin: 0 0 20px 0;
        }
      }
    }
  }

  @media only screen and (min-width: $media-lg) {

    & {
      
      &--align-top {
        align-items: center;
      }

      &__list {
        flex-direction: row;
      }
      
      &__item {
        
        &:not(:last-child) {
          margin: 0 30px 0 0;
        }
      }
    }
  }
}
////////////////////////////////////////////////////////////////// MOBILE MENU 
.mobile-menu {
  @include position-fixed;
  @include flex-center;
  background-color: #000;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity $toggle-mobile-menu;

  &--hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s $toggle-mobile-menu, opacity $toggle-mobile-menu;
  }

  &__list {
    @include flex-center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {

  }

  &__link {
    @extend .main-menu__link;
    font-size: 3rem;
  }
}
///////////////////////////////////////////////////////////////////////// LOGO 
.logo {
  display: flex;
  height: $layout-sm-logo;
  width: $layout-sm-logo;

  &:hover .logo__svg {
    fill: $color-main;
  }

  &__svg {
    height: 100%;
    width: 100%;
    fill: #fff;
    pointer-events: none;
    transition: fill $hover-main-menu;
  }

  @media only screen and (min-width: $media-md) {

    & {
      height: $layout-md-logo;
      width: $layout-md-logo;
    }
  }

  @media only screen and (min-width: $media-lg) {

    & {
      height: $layout-lg-logo;
      width: $layout-lg-logo;
    }
  }
}
//////////////////////////////////////////////////////////////// BURGER BUTTON 
.burger {
  position: relative;
  width: $size-burger-button;
  height: $size-burger-button;
  z-index: 1;

  &__svg {
    width: 100%;
    height: 100%;
    stroke: #fff;
    stroke-width: 16;
    transition: stroke $hover-main-menu;

    &:hover {
      stroke: $color-main;
    }
  }

  &__line {
    transition: transform $hover-main-menu;

    &--rotate-left {
      transform: rotate(-45deg);
    }

    &--rotate-right {
      transform: rotate(45deg);
    }

    &--top {
      transform-origin: 95% 14%;
    }
    
    &--center {
      transform-origin: 50% 50%;
    }
    
    &--bottom {
      transform-origin: 5% 85%;
    }
  }

  @media only screen and (min-width: $media-md) {
    display: none;
  }
}
///////////////////////////////////////////////////////////// GO TO TOP BUTTON 
.go-top {
  @include flex-center;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s $go-top-button, opacity $go-top-button;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 50%;
  width: $size-go-top;
  height: $size-go-top;

  &--visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity $go-top-button;
  }
}