//////////////////////////////////////////////////////////////////// PORTFOLIO 
.portfolio {
  width: 100%;
  height: 100%;
}
///////////////////////////////////////////////////////////////////////// GRID 
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat($layout-mobile-grid-columns, 1fr);
  grid-auto-rows: $layout-mobile-grid-height;
  grid-gap: $layout-mobile-grid-gap;

  &--flex { // portfolioJS
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
  }

  &__item {
    @include flex-center;
    position: relative;
    overflow: hidden;
    
    &::after {
      @include content-absolute;
      box-shadow: inset 0 0 10rem rgba(0,0,0,0.5);
      opacity: 0;
      pointer-events: none;
      transition: opacity $time-grid-item ease-out,
    }
    
    &:hover {
      &::after {
        opacity: 1;
      }

      & .grid__title {
        opacity: 1;
        transform: scale(1);
        transition: 
          opacity $time-grid-item cubic-bezier(0.9,0.1,0.9,0.1),
          transform $time-grid-item ease-out;
      }
    }
  }

  &__title {
    position: absolute;
    word-wrap: break-word;
    color: white;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    user-select: none;
    opacity: 0;
    transform: scale(6);
    transform-origin: center;
    transition: 
      opacity $time-grid-item cubic-bezier(0.1,0.9,0.1,0.9),
      transform $time-grid-item ease-out;
    z-index: 1;
    pointer-events: none;
  }

  &__link {
    @include flex-center;
    position: relative;
    transform: scale(1);
    transition: transform $time-grid-item ease-out;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(0, 238, 255);
      opacity: 0.05;
      pointer-events: none;
      transition: opacity $time-grid-item;
    }

    &:hover {
      transform: scale($scale-grid-item);

      &::after {
        opacity: 0;
      }
    }
  }

  &__svg-solid {
    display: block;
    fill: $color-main;

    height: 100%;
    min-height: $layout-mobile-grid-height;
    min-width: 100vw / $layout-mobile-grid-columns;

    &--flex { // portfolioJS
      min-height: 0;
      min-width: 0;
      width: 100%;
    }
  }
  
  &__svg-line {
    position: absolute;
    width: 100%;
  }

  &__image {
    //display: none;
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;    
    filter: saturate(0) brightness(0.75);

    &--loaded {
      //display: block;
      visibility: visible;
      opacity: 1;
      transition: opacity $time-grid-image, filter $time-grid-item;
    }

    &:hover {
      filter: saturate(100%);
    }
  }

  @media only screen and (min-width: $media-tablet) {

    & {

      grid-template-columns: repeat($layout-tablet-grid-columns, 1fr);
      grid-auto-rows: $layout-tablet-grid-height;
      grid-gap: $layout-tablet-grid-gap;

      &--flex { // portfolioJS
        grid-gap: 0;
      }

      &__svg-solid {
        min-height: $layout-tablet-grid-height;
        min-width: 100vw / $layout-tablet-grid-columns;

        &--flex { // portfolioJS
          min-height: 0;
          min-width: 0;
        }
      }
    }
  }
  
  @media only screen and (min-width: $media-desktop) {

    & {

      grid-template-columns: repeat($layout-desktop-grid-columns, 1fr);
      grid-auto-rows: $layout-desktop-grid-height;
      grid-gap: $layout-desktop-grid-gap;

      &--flex { // portfolioJS
        grid-gap: 0;
      }

      &__svg-solid {
        min-height: $layout-desktop-grid-height;
        min-width: 100vw / $layout-desktop-grid-columns;

        &--flex { // portfolioJS
          min-height: 0;
          min-width: 0;
        }
      }
    }
  }
}