////////////////////////////////////////////////////////////////////// GALLERY 
.gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000, $alpha: 1);
  opacity: 0;
  padding: $offset-gallery;
  z-index: -1;
  transition:
    opacity $toggle-gallery,
    visibility 0s $toggle-gallery,
    z-index 0s $toggle-gallery;

  &--visible {
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transition:
      opacity $toggle-gallery,
      visibility 0s,
      z-index 0s;
  }
}
/////////////////////////////////////////////////////////////////////// IMAGES 
.images {
  @include flex-center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transform: translateY(0);
  transition: visibility 0s $slide-horizontal;

  &--visible {
    visibility: visible;
    transition: visibility 0s;
    z-index: 0;
  }

  &--hidden-top {
    transform: translateY(-100vh);
    transition: transform $slide-vertical ease-out, visibility 0s $slide-horizontal;
  }

  &--hidden-bottom {
    transform: translateY(100vh);
    transition: transform $slide-vertical ease-out, visibility 0s $slide-horizontal;
  }
  
  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.7em;
    font-weight: bold;
    padding: $offset-gallery;
    visibility: hidden;
    transform: translateY(100%);
    opacity: 0;
    transition:
      opacity $slide-horizontal/2,
      transform $slide-horizontal/2,
      visibility 0s $slide-horizontal/2;
    z-index: 1;

    &--visible {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
      transition:
        opacity $slide-horizontal,
        transform $slide-horizontal,
        visibility 0s;
    }
  }

  &__counter {
    white-space: nowrap;
    font-size: 2em;
    margin: 0;
    margin-right: 10px;

    &--current {
      font-size: 1.2em;
      color: $color-main;
    }
  }

  &__heading {
    margin: 0;
    font-weight: normal;
  }

  &__container {
    @include flex-center;
    position: relative;
    visibility: hidden;
    transition: visibility 0s $slide-horizontal;

    &--visible {
      visibility: visible;
      transition: visibility 0s;
    }

    &--hidden-to-left {
      animation: hideToLeft $slide-horizontal forwards;
    }
    &--hidden-to-right {
      animation: hideToRight $slide-horizontal forwards;
    }
    &--visible-from-left {
      animation: showFromLeft $slide-horizontal forwards;
    }
    &--visible-from-right {
      animation: showFromRight $slide-horizontal forwards;
    }
  }

  &__svg-solid {
    @include position-absolute;
    fill: $color-main;
  }
  
  &__svg-line {
    @include position-absolute;
  }

  &__image {
    @include position-absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity $load-gallery-image, visibility 0s $load-gallery-image;

    &--loaded {
      opacity: 1;
      visibility: inherit;
      transition: opacity $load-gallery-image, visibility 0s;
    }
  }
}
/////////////////////////////////////////////////////////////////// NAVIGATION 
.gallery-nav {
    position: relative;
    z-index: 1;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: $gap-gallery-button;
    z-index: 1;
  }

  &__button {
    fill: #fff;
    width: $size-gallery-button;
    transition: fill $hover-gallery-button;

    &:hover {
      fill: $color-main;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}
//////////////////////////////////////////////////////////////// SWITCH BUTTON 
.switch {
  position: relative;
  @include flex-center;

  &__center {
    stroke-width: 40px;
    stroke: #fff;
    transition: stroke $hover-gallery-button, transform $hover-gallery-button;

    &--linear {
      fill: none;
    }
  }

  &__left {
    position: absolute;
    transform: translateX(-40%);
    transition: transform $hover-gallery-button;
  }

  &__right {
    position: absolute;
    transform: translateX(40%);
    transition: transform $hover-gallery-button;
  }

  &:hover {
    .switch__left {
      transform: translateX(-60%) scale(0.8);
    }

    .switch__center {
      stroke: $color-main;
      transform: scale(1.8);
    }
  
    .switch__right {
      transform: translateX(65%) scale(0.8);
    }
  }
}