//////////////////////////////////////////////////////////////////////// ABOUT 
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
///////////////////////////////////////////////////////////////////////// INFO 
.info {
  width: 100%;
  max-width: $layout-container-width;
  margin: auto;
  padding: ($layout-sm-offset * 2) $layout-sm-offset;
  padding-top: $layout-sm-logo + ($layout-sm-offset * 2);
  display: grid;
  flex-grow: 1;

  @media only screen and (min-width: $media-tablet) {
    padding: $layout-md-offset*2 $layout-md-offset;
    padding-top: $layout-md-logo + ($layout-md-offset * 2);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 2rem;
  }
  
  @media only screen and (min-width: $media-desktop) {
    padding: $layout-lg-offset*2 $layout-lg-offset;
    padding-top: $layout-lg-logo + ($layout-lg-offset * 2);
  }
}
///////////////////////////////////////////////////////////////////////// CARD 
.card {
  font-weight: 300;
  font-size: 1.1rem;
  text-align: justify;
  width: 100%;
  overflow: hidden;
  padding-bottom: 2px;

  &__header {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    padding: 1rem 0;
    border-bottom: 2px solid #fff;
    background-color: $color-background;
  }

  &__heading {
    grid-column-start: 2;
    text-align: center;
    color: #fff;
    pointer-events: none;
  }

  &__dropdown {
    font-size: 1.6em;
    pointer-events: none;
    transition: transform $time-dropdown;

    &--reversed {
      transform: rotate(180deg);
    }
  }

  &__description {
    overflow: hidden;
    transition: all $time-dropdown;
    border-bottom: 2px solid #fff;
    padding: 1.5rem 0;

    &--minimized {

    }
  }

  &__text {

    &--list {
      list-style-position: inside;
    }
  }

  &__button {
    @include button;

    &:hover {
      @include button-hover;
    }
  }
}
////////////////////////////////////////////////////////////////////// CLIENTS 
.clients {
  background-color: $color-main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: 4rem 5rem;
    justify-items: center;
    align-items: center;
    padding: $layout-sm-offset*2 $layout-sm-offset;
    max-width: $layout-container-width;
    width: 100%;
  }

  &__item {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 100px;
    background-color: transparent;
    transition: background-color $time-hover-icon;
    border-radius: 10px;

    &:hover {
      fill: $color-background;
      background-color: rgba($color: $color-background, $alpha: 0.2);
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    fill: #fff;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @media only screen and (min-width: $media-tablet) {
    &__list {
      grid-template-columns: repeat(4, 1fr);
      padding: $layout-md-offset;
    }
  }
  
  @media only screen and (min-width: $media-desktop) {
    &__list {
      padding: $layout-lg-offset 0;
    }
  }
}