///////////////////////////////////////////////////////////////////////// FORM 
.form {
  display: grid;
  flex-grow: 1;
  min-width: 320px;
  padding: $layout-sm-offset;
  padding-top: $layout-sm-logo + ($layout-sm-offset * 2);
  width: 100%;

  &__heading {
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0.5em 0;
    text-align: center;
  }

  &__verification {
    border: none;
    padding: 0;
  }

  &__submit {
    @extend .card__button;
  }
}
/////////////////////////////////////////////////////////////////////// INPUTS 
.input {
  color: $color-background-light;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 0.5em;

  &__label {
    font-weight: 400;
    order: -1;
    transition: color $hover-icon;
  }

  &__data {
    background: transparent;
    border: none;
    border: 2px solid transparent;
    border-bottom-color: $color-background-light;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    padding: 0.7em;
    transition: background-color $hover-icon, border-color $hover-icon;
    width: 100%;

    &--message {
      min-height: 200px;
    }

    &:invalid {
      background-color: $color-main;
      border: 2px solid transparent;
      border-radius: 5px;
    }

    &:focus {
      border-color: #fff;
      border-radius: 5px;

      & + .input__label {
        color: #fff;
      }
    }

    &::placeholder {
      color: $color-background-light;
      font-size: 0.8em;
      font-weight: 300;
      opacity: 1;
    }
  }
}
/////////////////////////////////////////////////////////////////// CHECKBOXES 
.checkbox {
  align-items: center;
  cursor: pointer;
  display: flex;
  fill: #fff;
  height: auto;
  opacity: 1;
  padding: 0.5rem 0;

  &--hidden {
    opacity: 0.3;
    //visibility: hidden;
  }

  &__input {
    display: none;
  }

  &__field {
    border: 2px solid $color-background-light;
    border-radius: 5px;
    height: $size-checkbox;
    margin-right: 1em;
    position: relative;
    width: $size-checkbox;
  }

  &__mark {
    @include position-absolute;
    opacity: 0;
    transform: scale(1);
    transition:
      visibility 0s $toggle-checkbox,
      opacity $toggle-checkbox,
      transform $toggle-checkbox ease-out;
    width: $size-checkbox;
    visibility: hidden;
    
    &--visible {
      opacity: 1;
      transform: scale(1.5);
      visibility: visible;
      transition:
        visibility 0s,
        opacity $toggle-checkbox,
        transform $toggle-checkbox ease-out;
    }
  }
}
//////////////////////////////////////////////////////////////////// MODAL BOX 
.modal {
  @include position-fixed;
  @include flex-center;
  background-color: $color-background;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s $toggle-modal, opacity $toggle-modal, transform $toggle-modal ease-in;

  &--visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity $toggle-modal, transform $toggle-modal ease-out;
  }

  &__box {
    position: relative;
    text-align: center;
    background-color: $color-main;
    max-width: 80%;
    padding: 3rem 2rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    user-select: none;
    transform: scale(1);
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
  }

  &__close:hover {
    color: #555;
  }
}