/////////////////////////////////////////////////////////////////////// FOOTER 
.footer {
  padding: $layout-footer-offset $layout-sm-offset;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: center;
    width: 100%;
    max-width: $layout-container-width;

    &--contact {
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__heading {

  }
}
////////////////////////////////////////////////////////////////////// ADDRESS 
.address {
  width: 100%;
  
  &__header {
  }
}
//////////////////////////////////////////////////////////////////////// TABLE 
.table {

  &__header {
    font-size: 1.2rem;
    text-align: left;
  }

  &__heading {
    padding-bottom: 0.3rem;
  }

  &__body {
  }

  &__cell {

  }
}
/////////////////////////////////////////////////////////////////////// SOCIAL 
.social {

  &__heading {

  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 3rem);

    &--horizontal {
      grid-template-columns: repeat(4, 3rem);
    }
  }

  &__item {
  }

  &__link {
    color: $color-background-lighter;

    &:hover {
      color: #fff;
    }
  }

  &__icon {
    font-size: 3rem;
  }
}
//////////////////////////////////////////////////////////////////// COPYRIGHT 
.copyright {
  color: $color-background-lighter;
  font-size: 0.8rem;
  border-top: 2px solid $color-background-lighter;
  padding-top: 0.5rem;
  width: 100%;
  text-align: center;

  &__heading {
    
  }

  &__text {
  }
}