::-moz-selection {
  background: grey;
  text-shadow: none;
}

::selection {
  background: grey;
  text-shadow: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Quicksand', Arial, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

object {
  pointer-events: all;
}

.disabled {
  opacity: 0.5;
}

/********** PAGE OVERLAY **********/

.page-overlay {
  background-color: black;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: visibility 0s $time-page-overlay, opacity $time-page-overlay;
  visibility: hidden;

  &--onload {
    visibility: visible;
    opacity: 1;
  }

  &--visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity $time-page-overlay;
  }
}

/********** PAGE CONTAINER **********/

.page-container {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  pointer-events: none;
  background-color: $color-background;

  &--visible {
    display: flex;
    opacity: 1;
    pointer-events: all;
    transition: opacity $time-mobile-menu;
  }

  &--main-page {
    background-color: #000;
  }
}

/********** BUTTONS **********/

.button {
  background: none;
  border: none;

  &--primary {
    display: inline-block;
    background-color: $color-main;
    color: #fff;
    font-weight: 500;
    padding: 0.6rem 2rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
  }
  
  &--primary:hover {
    background-color: $color-main-darker;
  }
}