/********** GRID **********/

.portfolio {
  width: 100%;
  height: 100%;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat($layout-mobile-grid-columns, 1fr);
  grid-auto-rows: $layout-mobile-grid-height;
  grid-gap: $layout-mobile-grid-gap;

  &__item {
    @include flex-center;
    position: relative;
    overflow: hidden;
  }

  &__title {
    display: none;
    position: absolute;
    word-wrap: break-word;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
    transform-origin: center;
    transition: 
      opacity $time-grid-item cubic-bezier(0.1,0.9,0.1,0.9),
      transform $time-grid-item ease-out;
    z-index: 1;
  }

  &__link {
    @include flex-center;
    position: relative;
  }

  &__svg-solid {
    display: block;
    fill: $color-main;
    height: 100%;
    min-height: $layout-mobile-grid-height;
    min-width: 100vw / $layout-mobile-grid-columns;
  }
  
  &__svg-line {
    position: absolute;
    width: 100%;
  }

  &__image {
    //display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
  }

  @media only screen and (min-width: $media-tablet) {

    & {

      grid-template-columns: repeat($layout-tablet-grid-columns, 1fr);
      grid-auto-rows: $layout-tablet-grid-height;
      grid-gap: $layout-tablet-grid-gap;

      &__svg-solid {
        min-height: $layout-tablet-grid-height;
        min-width: 100vw / $layout-tablet-grid-columns;
      }
    }
  }
  
  @media only screen and (min-width: $media-desktop) {

    & {

      grid-template-columns: repeat($layout-desktop-grid-columns, 1fr);
      grid-auto-rows: $layout-desktop-grid-height;
      grid-gap: $layout-desktop-grid-gap;

      &__svg-solid {
        min-height: $layout-desktop-grid-height;
        min-width: 100vw / $layout-desktop-grid-columns;
      }
    }
  }
}





/* 
.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  //background-color: #000;
}
.portfolio__thumbnail:hover .portfolio__title {
  opacity: 1;
  transform: scale(0.05);
  transition: 
    opacity $transition-thumb cubic-bezier(0.9,0.1,0.9,0.1),
    transform $transition-thumb ease-out;
  z-index: 1;
}
.portfolio__placeholder {
  width: 100%;
}
.portfolio__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;  // initially hidden
  filter: saturate(100%);
  transition: 
    filter $transition-desaturation ease-out,
    transform $transition-thumb ease-out;
}
.portfolio__image--loaded {
  display: block;
  animation: fadeIn 2s;
}
.portfolio__thumbnail:hover .portfolio__image {
  filter: saturate(0%);
  transform: scale(1.2);
  transition: 
    filter 1s ease-out,
    transform $transition-thumb ease-out,
}
.portfolio__link::after {
  box-shadow: inset 0 0 8vw rgba(0,0,0,1);
  @include content-absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity $transition-thumb ease-out,
}
.portfolio__thumbnail:hover .portfolio__link::after {
  opacity: 1;
  transition: opacity $transition-thumb ease-out,
}
*/