.svg__solid {
  fill: $color-main;
}

.svg__line {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 5;
  
  &--thin {
    stroke-width: 1;
  }
  
  &--color {
    stroke: $color-main;
  }
}