/********** TIME **********/

$time-page-overlay: 1s;
$time-mobile-menu: 0.5s;
$time-hover-menu: 0.3s;
$time-hover-icon: 0.2s;
$time-menu-translation: 0.5s;
$time-menu-delay: 0.5s;
$time-grid-item: 0.4s;
$time-go-top-button: 1s;
$time-dropdown: 0.3s;

/********** TIMING **********/

$timing-ease-in-strong: cubic-bezier(0,0.6,0.4,1);
$timing-ease-out-strong: cubic-bezier(0.6,0,1,0.4);

/********** COLORS **********/

$color-background: #555;
$color-background-lighter: lighten($color-background, 30%);
$color-background-darker: darken($color-background, 5%);

$color-main: rgb(200, 202, 83);
$color-main-lighter: lighten($color-main, 10%);
$color-main-darker: darken($color-main, 15%);
$color-main-dark: darken($color-main, 30%);

//$color-secondary: rgb(29, 211, 235);
//$navbar-background-color: rgba(0,0,0,0.4);

/********** LAYOUT **********/

$layout-container-width: 1200px;

$layout-sm-logo: 40px;
$layout-md-logo: 80px;
$layout-lg-logo: 100px;

$layout-sm-offset: 20px;
$layout-md-offset: 40px;
$layout-lg-offset: 60px;

$layout-sm-grid-gap: 1rem;
$layout-md-grid-gap: 2rem;
$layout-lg-grid-gap: 3rem;

$layout-sm-grid-item-height: 30vw;

/********** SIZE **********/

$size-go-top-button: 50px;

/********** MEDIA **********/

$media-tablet: 768px;
$media-desktop: 1200px;





/* $transition-lightbox-container: 1s;
$transition-desaturation: 1s;
$transition-menu-item: 0.2s;
$transition-fade: 0.5s;
$transition-modal: 0.5s;
$transition-mob-menu: 0.5s; */


/* $arrows-offset: 30px;
$lightbox-icon-half-width: 2px;
$lightbox-icon-length: 40px; */

/* $form-input-height: 40px;
$form-corner-radius: 10px; */



/*
$layout-lightbox-desc-offset: 15px;
$layout-about-gap: 20px;
$layout-footer-offset: 20px;
*/